body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: #111;
  color: white;
  padding: 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

h1 {
  color: #f4b400;
}

section {
  padding: 40px;
}
.whatsapp-float{
position:fixed;
bottom:20px;
right:20px;
background:#25D366;
color:white;
padding:15px 20px;
border-radius:50px;
text-decoration:none;
font-weight:bold;
z-index: 9999;
}
